KAFKA_BOOTSTRAP=localhost:9092
IOT_TOPIC=iot_events
OUTPUT_TOPIC=iot_minute_stats

PG_HOST=localhost
PG_PORT=5432
PG_DB=iot
PG_USER=postgres
PG_PASSWORD=postgres
PG_TABLE=device_types

TABLE_TZ=Europe/Moscow
